/* 登录页面样式 */
.exchange-login{
  width: 500px;
  height: 475px;
  background-color: #fff;
  margin:50px auto;
}
.exchange-login-input {
  width: 300px;
  text-align: center;
}
.exchange-input-checkbox{
  margin-left: 100px;
  margin-bottom: 10px;
}
.exchange-login-icons img{
  position: relative;
  top: 30px;
  left: 2px;
  display: block;
  z-index: 1;
}
.exchange-login-title{
  text-align: center;
}
.exchange-login-title h1{
  font-weight: 400;
  padding:30px 0 30px 0px;
  font-size:22px;
}
.exchange-input-checkbox span{
  color:#666;
  font-size: 12px;
}
.exchange-login-button button{
  width: 300px;
}
.exchange-login-button button:hover {
  background-color: #ccc;
}
.exchange-login-footer-button-text{
  color:#409EFF;
  font-size: 12px;
}
.exchange-login-footer-button :last-child{
  float: right;
  padding-right: 100px;
}
.exchange-login-input-pic.el-input {
    width: 150px;
}
.exchange-login-button button{
  background-color: #ccc;
  border:#ccc;
}