// $login-width: 500px;
// $login-height: 475px;
// $login-bgc: #fff;
// $login-margin:50px auto;
// .exchange-login{
//   width: $login-width;
//   height: $login-height;
//   background-color:$login-bgc;
//   margin:$login-margin;
//   input{
//     width:300px;
//   }
// }
// ----------------------------币币交易---------------------------------------
$coin-bgc:#fff;
#tv_chart_container {
  // width: 100%;
  height: 100%;
  position: absolute;
}
.el-aside {
  background-color: $coin-bgc;
  padding-left: 5px;
  color:#000;
}
.coin-aside{
  height: 900px;
}
.coin-aside-top-title{
  margin:5px 0px 10px 0px;
  h3{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
  }
}
.coin-aside-top-search{
  input{
    width: 260px;
    height: 28px;
    text-indent: 1em;
    font-size: 12px;
  }
  img{
    height: 25px;
    position: relative;
    top: 10px;
  }
}
  .coin-aside-bottom-title h3{
    font-weight: normal;
    font-size: 14px;
    margin: 10px 0 10px 0;
  }
  
.coin-main-top-img{
  img{
    width: 20px;
    height: 20px;
  }
}
.trade-view{
  height: 400px;
}
.coin-main-bottom {
  position: relative;
  top: 122px;
  width: 100%;
}
.coin-main-bottom-left {
  width: 47%;
}
.coin-main-bottom-right {
  width: 47%;
}
.coin-main-bottom-left{
  h4{
    color:red;
    margin:10px 0 10px 0;
    font-weight: 400;
    font-size: 14px;
  }
  h3{
    font-size:14px;
  }
  span{
    font-size: 12px;
  }
  p{
    margin:10px 10px 10px 5px;
    font-size: 12px;
  }
  input{
    width: 70%;
    height: 25px;
    margin:10px 0 10px 0;
  }
  ul{
    margin-left: 59px;
  }
  li{
    float: left;
    border: 1px solid #ccc;
    font-size: 12px;
    margin:0 50px 20px 0;
  }
  button{
    width:100%;
    background-color: #05C19E;
    border:none;
  }
}
.coin-main-line{
  height: 260px;
  width: 1px;
  background-color: #000;
  float: left;
  margin-left: 18px;
}
.coin-main-bottom-right{
  h4{
    color:red;
    margin:10px 0 10px 0;
    font-weight: 400;
    font-size: 14px;
  }
  h3{
    font-size:14px;
  }
  span{
    font-size: 12px;
  }
  p{
    margin:10px 10px 10px 5px;
    font-size: 12px;
  }
  input{
    width: 70%;
    height: 25px;
    margin:10px 0 10px 0;
  }
  ul{
    margin-left: 59px;
  }
  li{
    float: left;
    border: 1px solid #ccc;
    font-size: 12px;
    margin:0 50px 20px 0;
  }
  button{
    width: 100%;
    background-color: #E04545;
  }
}
.coin-footer{
  width: 1519px;
  margin-left: -20px;
  h3{
    float: left;
    margin:10px 0 10px 0;
    font-size: 14px;
    font-weight: 400;
  }
}
.exchange-table{
  font-size:12px;
  color: #000;
}
.coin-entrust{
  float: right;
  margin:10px 60px 0 0;
  font-size:12px;
  color:#409EFF;
}
// -------------------------------------------------委托单页面----------------------
.order-form{
  width: 1300px;
  height: 600px;
  background-color: #fff;
  margin:20px auto;
  overflow: hidden;
}

.order-form-title{
  margin-left:100px;
  h3{
    margin:20px 0 10px 0;
    font-size: 14px;
  }
}
.order-form-line{
  width: 1100px;
  height: 1px;
  background-color: #999;
} 
.order-form-tabs{
  width: 1100px;
  margin:20px 0 10px 100px;
}
div#tab-first {
  font-size: 12px;
}
div#tab-second {
  font-size: 12px;
}
.el-table th>.cell {
  font-size: 12px;
  font-weight: normal;
}
.el-table td>.cell {
  font-size: 12px;
  color:#000;
}
.order-form-tabs-title{
  margin:10px 0 20px 0;
 select{
   width: 70px;
   height: 25px;
   margin-right: 110px;
   font-size: 12px;
  }
  button{
    margin-left: 70px;
  }
  input{
    height: 25px;
  }
  span{
    font-size: 12px;
  }
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 120px;
  margin-right: 15px;
}
.order-form-usdt{
  margin-left: -110px;
}
.order-form-tabs-configure-title{
  margin:10px 0 20px 0;
  select{
    width: 85px;
    height: 23px;
    margin-right: 15px;
    font-size: 12px;
   }
   input{
     height: 27px;
     margin-right: 15px;
   }
   span{
     font-size: 12px;
   }
}
.order-form-configure-usdt{
  margin-left: -10px;
}
.el-input__icon{
  line-height: 0;
}
// -------------------------------------------------公告中心---------------------------------
.notice-center{
  width: 900px;
  height: 600px;
  background-color: #fff;
  margin:20px auto;
}
.notice-center-title{
  overflow: hidden;
  h3{
    margin:20px 40px 0px 40px;
    border-bottom:1px solid #999;
    padding-bottom: 10px;
    font-size: 14px;
  }
  button{
    float: right;
    position: relative;
    top: -33px;
    right: 40px;
    margin-left: 15px;
  }
}
.notice-center-btn{
  margin:0px 40px 20px 40px;
  padding-bottom: 10px;
  input{
    width: 250px;
    height: 33px;
    text-indent: 1em;
    font-size: 12px;
    position: relative;
    left: 555px;
  }
  span{
    font-size:12px;
  }
  img{
    position: relative;
    left: 520px;
    top:5 px;
  }
}
.notice-center-text{
  li{
    border-bottom: 1px solid #999;
    line-height: 40px;
    color: #409EFF;
    font-size: 12px;
  }
  .fl{
    width: 752px;
    position: relative;
    left: 1px;
  }
}
.el-tabs__item {
  font-size: 12px;
}
// ---------------------------------问题反馈-------------------------
.notice-center-problem{
    width: 900px;
    height: 600px;
    background-color: #fff;
    margin:20px auto;
    h3{
      font-size: 12px;
      font-weight:normal;
    }
}
.notice-center-problem-title{
  overflow: hidden;
  margin: 20px 40px 20px 40px;
  padding-bottom: 10px;
  display: inline-block;
}
.notice-center-problem-describe{
  margin:20px 40px 20px 40px;
  textarea{
    height: 250px;
    margin-top: 10px;
  }
}
button.el-button.el-button--primary span {
  font-size: 12px;
}
textarea.el-textarea__inner {
  font-size: 12px;
}
.notice-center-problem-mobile{
  margin:20px 40px 20px 40px;
  input{
    height: 35px;
    width: 250px;
    margin-top: 10px;
  }
  button{
    width: 250px;
    margin:20px 0 0 0px;
  }
}
// --------------------------------------历史反馈----------------------
.notice-center-histor-describe{
  margin:10px 0 10px 40px;
  li{
    float: left;
    margin-right: 300px;
  }
  h3{
    font-size: 12px;
    font-weight:normal;
  }
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  font-weight: 700;
  color: #000;
}
.notice-center-problem-line{
  width: 700px;
  height: 1px;
  background-color: #ccc;
  margin-top: 10px;
}
// ---------------------------------充值费率--------------------
.recharge-rate{
  width: 900px;
  height: 600px;
  background-color: #fff;
  margin:20px auto;
  overflow: hidden;
}
.recharge-rate-title{
  button{
    float: right;
    position: relative;
    top: -45px;
    right: 40px;
  }
  h3{
    border-bottom:1px solid #999;
    padding-bottom: 10px;
    margin:20px 40px 10px 40px;
  }
}
.recharge-rate-explain{
  margin:20px 40px 10px 40px;
  font-size: 12px;
  img{
    float: left;
    margin-right: 20px;
  }
  span{
    margin:20px 20px 5px 20px;
    display: block;
  }
  h2{
    font-size:14px;
    font-weight: normal;
  }
}
.recharge-rate-content{
  margin:30px 40px 10px 40px;

 span{
   margin-top:10px;
   display: inline-block;
   width: 350px;
   font-size:12px;
   line-height: 30px;
   margin-left: 20px;
 }
 h3{
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
 }
 router-link{
   color:#409EFF;
 }
}
// ---------------------------------费率标准------------------
.recharge-rate-standard{
  margin:10px 40px 10px 40px;
  h3{
   margin-bottom: 10px;
   font-size: 14px;
  }
}